.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}






/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #151515;
    /* Very dark background */
}

::-webkit-scrollbar-thumb {
    background: #333;
    /* Dark gray scrollbar */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Lighter gray on hover */
}

/* For Firefox */
html {
    scrollbar-color: #333 #151515;
}